
<div style=" color:white; background-image: url(https://plus.unsplash.com/premium_photo-1667143328654-561cf03744b8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; height: 90vh;" class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome to Amuza</h1>
    <p class="mt-2 w-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nisi.</p>
    <div class="d-flex justify-content-center">
        <a class="main-btn mx-1" routerLink="room"> <button type="button" class="btn btn-outline-primary">Book Room</button></a>
        <a class="main-btn mx-1" routerLink="food"> <button type="button" class="btn btn-outline-primary">Order Food</button></a>
    </div>
</div>